.boardHeader ul{
	width:1500px;
	
}

 .boardHeader ul li{
	list-style:none;
	padding:0;
	margin:0;
	border-style: solid;
	border-color: #000000;
	border-width: 1px; 
	align:center;
}


.boardHeader ul:before,.boardHeader ul:after{content:'';display: block;clear: both;}
.boardHeader ul li{float: left; height:40px;
            background-color: #666666;color:#ffffff;
            font-size: 10pt;font-weight: bold;line-height: 40px;
            padding: 0 5px; text-align:center;}
            
#good,#bad,#boardNumber {
	width:100px;
	font-size:10pt;
}

#title{
	width:380px;
}

#writer,#regdate{
	width: 200px;
}