body {margin:0; padding:0}
ul,li{list-style: none; margin: 0; padding: 0;}
ul{width:500px; height:350px;margin: 20px auto 10px;}
ul:before, ul:after{content:'';display: block;clear:both;}
ul>li{display:none;float:left; width:100%;height:100%;}
ul>li:nth-child(1){display: block;}
ul>li>img{width:100%;height:100%;}
div{width:500px;margin:0 auto; text-align:center;}